<div class="row justify-content-center">
  <div class="col-4">
    <h1>Welcome!</h1>
    <h1>What pet do you want to take care of ?</h1>

    <% @pets.each do |pet| %>
      <p><%=link_to pet.name, pet_path(pet) %></p>
      <%= cl_image_tag pet.photo, height: 300, width: 400, crop: :fill %>
      <% if policy(pet).destroy? %>
        <%= link_to 'Delete this pet', pet_path(pet), method: :delete %>
      <% end %>
    <% end %>
    <% if policy(Pet).create? %>
      <%= link_to "Add a pet", new_pet_path, class: "btn btn-primary"%>
      <% else %>
      <%= link_to "subscribe", new_user_session_path %>
    <% end %>
  </div>
</div>

