<div class="content">
  <div class="pet-cards">
        <% @pets.each do |pet| %>
          <%= link_to pet_path(pet) do %>
            <div class="card-trip p-4 m-2">
              <%= cl_image_tag(pet.photo) %>
              <div class="card-trip-infos">
                <div>
                  <h2 class="specialbluetext"><%= pet[:name] %></h2>
                  <p><%= pet[:bio] %></p>
                </div>
                <h2 class="card-trip-pricing">$<%= pet[:price] %></h2>
                <%= cl_image_tag(pet.owner.avatar, :width => 40, :height => 40, :crop => :thumb, :gravity => :face, class: "card-trip-user avatar-bordered") %>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>





  <br>
    <div id="map" class="m-4" style="width: 100%; height: 800px;"
      data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
        <br>
        <br>
        <br>
    </div>








