<h1>Create a Pet</h1>

<div class="container">
  <%= simple_form_for [@pet] do |f| %>
    <%= f.input :name %>
    <%= label_tag :cat %>
    <%= radio_button_tag 'species','cat' %>
    <%= label_tag :dog %>
    <%= radio_button_tag 'species','dog' %>
    <%= f.input :bio %>
    <%= f.input :age %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "add a pet", class: "btn btn-primary" %>
  <% end %>
</div>
