<div class="bg-pet-profile">
  <div class="justify-content-center">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
          <div class="card justify-content-center">
            <h3 class="specialbluetext"><strong><%= @pet.name %></strong></h3>
            <%= cl_image_tag(@pet.photo, class: 'main-img') %>
          <br>
              <p> <%= @pet.bio %> </p>
              <p>Species : <%= @pet.species %></p>
              <p>Age: <%= @pet.age %></p>
              <p>Sitter receives $<%= @pet.price %>/hour</p>
              <p>Owned by <%= @pet.owner.name %></p>
              <%= link_to "Book me!", user_path, class: "btn btn-pets" %></p>
        </div>
      </div>
    </div>
  </div>
</div>

