<h1>Details</h1>
<p><%= @pet.name %></p>
<%= @pet.species %>
<%= @pet.bio %>
<%= @pet.age %>
<%= @pet.price %>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @pet.photo, height: 300, width: 400, crop: :fill %>)">
    Breakfast
  </div>
</div>
