<div class="bg-profile">
  <div class="profile-block justify-content-center">
    <h1 class="text-center"><%= @user.name.capitalize %></h1>
    <%=cl_image_tag(@user.avatar, width: 120, height: 120, :crop => :thumb, gravity: :face, class: "card-trip-user avatar-bordered") %>
      <p class="text-center"><%= @user.location %></p>
      <p class="text-center">My Current Listings</p>


      <div class="content justify-content-center">
        <div class="pet-image">
            <% @user.pets.each do |pet| %>
              <%= link_to pet_path(pet) do %>

                <div class="card-trip m-2 p-4">

                  <%= cl_image_tag(pet.photo) %>
                  <div class="card-trip-infos justify-content-center">
                    <div>
                      <h2 class="specialbluetext"><%= pet[:name] %></h2>
                      <p>Rate: <%= pet[:price] %>/hour</p>
                      <br>
                      <br>
                      <%= link_to "See details", pet_path(pet), class:"btn-pets" %>
                      <br>
                      <br>
                      <%= link_to "Remove this Pet", pet_path(pet), :method => :delete, class:"btn-pets" %>
                    </div>
                  </div>

                 </div>

             <% end %>

           <% end %>

          </div>
        </div>
       <br>
       <br>
      <div> <%= link_to "Add a Pet", new_pet_path, class: "btn btn-pets" %></p></h1>
    </div>
    </div>
  <div>
</div>



