<div class="bg">
<div class="block">

  <h1>Get paid to <strong>pet-sit</strong></h1>
    <p>Care for adorable pets while their owners are on vacation and earn extra cash!</p>

  <%= form_tag(pets_path, method: :get) do %>
  <%= label_tag :location %>
  <%= text_field_tag :loaction %>
  <br>
  <br>
  <%= label_tag :cat %>
  <%= radio_button_tag 'species','cat' %>
  <%= label_tag :dog %>
  <%= radio_button_tag 'species','dog' %>

  <br>
  <br>
  <span>Start Date <%= date_field_tag :start %> End Date <%= date_field_tag :end %></span>



  <br>
  <br>
  <%= link_to "See pets", pets_path, class: "btn-pets btn-sm" %>
<% end %>
</div>




</div>

<h1 class="heading">3 quick tips</h1>
  <div class="card-container">
    <div>
      <div class="card card-image">
        <img src="images/apply.svg" alt="">
          <h3>Ask your buddy</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>

      <div>
      <div class="card card-image">
        <img src="images/learn.svg" alt="">
          <h3>Make a ticket</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>


      <div>
      <div class="card card-image">
        <img src="images/product.svg" alt="">
          <h3>Drink coffee</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
     </div>
